<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>bash.profile.commands</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>039EEFD9-10FD-4C62-B31A-E80C5740440E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A957C86E-F00F-403D-87F4-D91FEE24A67A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BE844B8-D9ED-4A22-9D7F-C106304B899B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5145C54-5E9A-45AC-93F6-6ADB494F84A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60525BB6-8496-4824-A6B7-0740BA78049C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BE844B8-D9ED-4A22-9D7F-C106304B899B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Runn command on alfred and copy to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>039EEFD9-10FD-4C62-B31A-E80C5740440E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E7D6402-7C69-4C14-8407-EB0F9EE45C72</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Run cmd in terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A957C86E-F00F-403D-87F4-D91FEE24A67A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C8731E5-A3AF-41A9-96B3-FD962211CF97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5145C54-5E9A-45AC-93F6-6ADB494F84A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D26CAAAF-D50A-4054-9AA4-0CB85193A0EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D26CAAAF-D50A-4054-9AA4-0CB85193A0EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D112991-D120-4680-B1D4-041717C6C781</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5E4A02C-4359-40BB-923C-BD59CE228577</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60525BB6-8496-4824-A6B7-0740BA78049C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martin Shi</string>
	<key>description</key>
	<string>Run alias or function of .bash_profile, .zprofile and .profile.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bash Profile commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>1</integer>
				<key>font</key>
				<string>System Light</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>C5145C54-5E9A-45AC-93F6-6ADB494F84A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D26CAAAF-D50A-4054-9AA4-0CB85193A0EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>shopt -s expand_aliases

if [ -f "${HOME}/.bash_profile" ] ; then
	cd ${HOME}
	source "${HOME}/.bash_profile"
	PATH=$PATH:/usr/local/bin
fi

{query} | sed $'s,\x1b\\[[0-9;]*[a-zA-Z],,g' 2&gt;&amp;1 &amp;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3BE844B8-D9ED-4A22-9D7F-C106304B899B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>The cmd result has copied in clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D112991-D120-4680-B1D4-041717C6C781</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>&gt;</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ....</string>
				<key>script</key>
				<string>php run.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Run bash profile command</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60525BB6-8496-4824-A6B7-0740BA78049C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>shopt -s expand_aliases

if [ -f "${HOME}/.bash_profile" ] ; then
	cd ${HOME}
	source "${HOME}/.bash_profile"
	PATH=$PATH:/usr/local/bin
fi

if [ -d "${HOME}/my-git-note" ] ; then
	cd ${HOME}/my-git-note
fi

{query} | sed $'s,\x1b\\[[0-9;]*[a-zA-Z],,g' 2&gt;&amp;1 &amp;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>039EEFD9-10FD-4C62-B31A-E80C5740440E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>1</integer>
				<key>font</key>
				<string>System Light</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A957C86E-F00F-403D-87F4-D91FEE24A67A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>The bash cmd have executed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4C8731E5-A3AF-41A9-96B3-FD962211CF97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F5E4A02C-4359-40BB-923C-BD59CE228577</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6E7D6402-7C69-4C14-8407-EB0F9EE45C72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow enable Alfred to run alias or functions that come from ~/.bash_profile, ~/.profile and ~/.zprofile in background or terminal. The workflow show the cmd output in large type.</string>
	<key>uidata</key>
	<dict>
		<key>039EEFD9-10FD-4C62-B31A-E80C5740440E</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>3BE844B8-D9ED-4A22-9D7F-C106304B899B</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>4C8731E5-A3AF-41A9-96B3-FD962211CF97</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>4D112991-D120-4680-B1D4-041717C6C781</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>60525BB6-8496-4824-A6B7-0740BA78049C</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6E7D6402-7C69-4C14-8407-EB0F9EE45C72</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>A957C86E-F00F-403D-87F4-D91FEE24A67A</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C5145C54-5E9A-45AC-93F6-6ADB494F84A0</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D26CAAAF-D50A-4054-9AA4-0CB85193A0EA</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>F5E4A02C-4359-40BB-923C-BD59CE228577</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v1.2</string>
	<key>webaddress</key>
	<string>186.dk</string>
</dict>
</plist>
