<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>bash.profile.commands</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5B3E0213-A19B-47EA-9E74-7E8A04DCFDB8</key>
		<array/>
		<key>60525BB6-8496-4824-A6B7-0740BA78049C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADADAF7A-C425-47C7-9498-68D3B5F18BC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADADAF7A-C425-47C7-9498-68D3B5F18BC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B3E0213-A19B-47EA-9E74-7E8A04DCFDB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martin Shi</string>
	<key>description</key>
	<string>Run alias or function of .bash_profile</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bash profile commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>!</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ....</string>
				<key>script</key>
				<string>php run.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Run bash profile command</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60525BB6-8496-4824-A6B7-0740BA78049C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>5B3E0213-A19B-47EA-9E74-7E8A04DCFDB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ADADAF7A-C425-47C7-9498-68D3B5F18BC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>pppppp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>w...</string>
				<key>script</key>
				<string>&lt;?php

$query = $argv[1];

echo '{"items":

[
{"valid":"true","arg":"vg","uid":"vg","title":"vg (parameter: up, destory, ssh) ","subtitle":" vagrant command on homestead"},
{"valid":"true","arg":"cl","uid":"cl","title":"cl (parameter: path) ","subtitle":" cd to path and ls"},
{"valid":"false",
"arg":"chrome",
"autocomplete":"chrome",
"uid":"chrome","title":"chrome (parameter:  url (without http)) ","subtitle":" chrome open url"}
]
}';

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>test</string>
				<key>title</key>
				<string>test</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96B0F6B6-BF2C-4F32-BCFB-64D81D2BE060</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5B3E0213-A19B-47EA-9E74-7E8A04DCFDB8</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>60525BB6-8496-4824-A6B7-0740BA78049C</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>96B0F6B6-BF2C-4F32-BCFB-64D81D2BE060</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>ADADAF7A-C425-47C7-9498-68D3B5F18BC7</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v1.0</string>
	<key>webaddress</key>
	<string>186.dk</string>
</dict>
</plist>
